p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 48px;
}

.picture-card {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
  object-fit: crop;
}

li {
  display: inline-block;
}

li > a {
  display: inline-block;
  font-size: 45px;
  letter-spacing: 18px;
  color: rgba(173, 187, 173, 0.644);
}

li > a:hover {
  color: rgb(105, 100, 100);
}

h2 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.profile-image-round {
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

@keyframes animated_div {
0% {
    transform: rotate(0deg);
    left: 0px;
}
25% {
    transform: rotate(20deg);
    left: 0px;
}
50% {
    transform: rotate(0deg);
    left: 500px;
}
55% {
    transform: rotate(0deg);
    left: 500px;
}
70% {
    transform: rotate(0deg);
    left: 500px;
    background: #e5e9eb9c;
}
100% {
    transform: rotate(-360deg);
    left: 0px;
}

}

#pointless-btn {
  background: rgb(240, 243, 245);
  border: 1px solid white;
  border-radius: 4px;
  color: rgb(223, 238, 237);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 1s;
}

#secret {
  color: brandy;
  transition: 1s;
}


#secret:hover {
  color: black;
}

#pointless-btn:hover {
  background: rgb(119, 194, 85)
}

#pointless-btn:focus {
  outline-color: rgb(19, 18, 18)
}

#btn-work {
  background-color: rgb(26, 25, 25);
  border: 1px solid rgb(26, 1, 1);
  border-radius: 4px;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#btn-work:hover {
  background: white;
  color: rgb(205, 214, 223);
  transition: 0.2s;
}

#btn-fun {
  background-color: rgb(22, 10, 10);
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#btn-fun:hover {
  background: white;
  color: rgba(18, 19, 18, 0.445);
  transition: 0.2s;
}

#work {
  background: rgba(39, 111, 191, 0.1);
}

#work:hover {
  background: rgb(135, 182, 25);
  color: white;
  transition: 0.6s;
}

.fun-pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#fun {
  background: #94c7511a;
}

#fun:hover {
  background:  rgb(135, 182, 25);
  color: rgb(75, 74, 73);
  transition: 0.6s;
}

.profile-image-round:hover {
  width: 210px;
  height: 210px;
  transition: 0.1s;
  animation: animated_div 5s 1;
}

.boxes {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  background: rgb(232, 234, 236);                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 11px 30px rgba(0,0,0,.1);
  margin-bottom: 10px;
  transition: 0.2s;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background: rgba(234, 234, 234,0.01);
}
